<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hua.mybatis.mapper.RolesMapper">
  <resultMap id="BaseResultMap" type="com.qf.hua.mybatis.entity.Roles">
    <!--@mbg.generated-->
    <!--@Table roles-->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="declare" jdbcType="VARCHAR" property="declare" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, role_name, `declare`, is_del, user_id
  </sql>
  <resultMap id="CollectionResultMap" type="com.qf.hua.mybatis.entity.Roles" extends="BaseResultMap">
        <collection property="privileges" resultMap="com.qf.hua.mybatis.mapper.PrivilegeMapper.BaseResultMap"/>
    </resultMap>

  <select id="selectByUserId" resultMap="CollectionResultMap">
    select r.role_id, r.role_name, r.`declare`, p.privilege_id, p.name, p.`declare`
    from roles r
    left join roles_privilege_relation rpr
    on r.role_id = rpr.role_id
    left join privilege p
    on rpr.privilege_id = p.privilege_id
    where r.user_id = #{userId}
  </select>
</mapper>