<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.hua.mybatis.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.qf.hua.mybatis.entity.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, username, `password`, `status`
  </sql>
    <update id="deleteUser">
        update user
        set status = 1
        where user_id = #{userId}
    </update>


</mapper>